body{
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
background-color:  rgb(255, 255, 255) ;
}
#container{
margin : auto;
display: block;
font-weight: bold;
border-radius: 10px;
background-color:  rgb(212, 212, 212) ;
padding : 100px;
margin: auto;
max-width: 750px;
}
label{
    font-size: 1.5em;
}
input{
    text-align: center;
    border-radius: 10px;
}
button{
    background-color: rgb(0, 153, 255);
    border-radius: 15px;
    cursor: pointer;
    color : white;
}
button:hover{
box-shadow: 5px 5px 30px yellow;
background-color: rgb(6, 117, 190);
}
#images img{
   text-align: center;
   margin: 5px;
}
#diceresult{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bold;
font-size: 1.5em;
}